{{define "title"}}
{{.Owner}}/{{.Name}} #{{.JobID}}
{{end}}

{{define "body"}}
<div class="container">

  <nav class="navbar">
    <div class="navbar-left">
      <div class="navbar-item">
        <a href="/deployment" class="button is-outlined">Back to list</a>
      </div>
    </div>
  </nav>

  <nav class="panel">
    <p class="panel-heading">
      <a href="{{.HTTPURL}}">{{.Owner}}/{{.Name}}</a> <span class="icon"><i class="fa fa-arrow-right"></i></span> <span class="tag is-info">{{.Env}}</span>
    </p>
    <div class="panel-block">
      <div class="message is-{{.PanelColor}}">
        <div class="message-header">
          {{.Status}}
        </div>
        <div class="message-body">
          <i class="fa {{.Icon}}"></i> Deploy <strong>{{.Status}}</strong> on <i class="fa fa-code-fork"></i> {{.Ref}}
          {{if eq .Status "pending"}}
            <a class="button is-small is-danger pull-right" href="/deployment/{{.ID}}/cancel">Cancel</a>
          {{end}}
        </div>
      </div>
      <nav class="navbar">
        <div class="navbar-item is-text-centered">
          <p class="heading">Started</p>
          <p class="title" title="{{.Started}}">{{.Started|ago}}</p>
        </div>
        <div class="navbar-item is-text-centered">
          <p class="heading">Finished</p>
          <p class="title" title="{{.Finished}}">{{.Finished|ago}}</p>
        </div>
        <div class="navbar-item is-text-centered">
          <p class="heading">Duration</p>
          <p class="title">{{.Duration}}</p>
        </div>
        <div class="navbar-item is-text-centered">
          <p class="heading">SHA</p>
          <p class="title"><a href="{{.HTTPURL}}/commit/{{.SHA}}">{{.ShortSHA}}</a></p>
        </div>
      </nav>
      <div class="console" id="logs">{{.LogToString}}</div>
      <div id="bottom"></div>
    </div>
  </nav>

</div><!-- /.container -->

{{if eq .Status "pending"}}
<script type="text/javascript">
  var evtSource = new EventSource("/deployment/{{.ID}}/stream")
  var logs = document.getElementById("logs")
  var bottom = document.getElementById("bottom")
  evtSource.onmessage = function(e) {
    var message = document.createTextNode(e.data)
    logs.appendChild(message)
    bottom.scrollIntoView()
  }
</script>
{{end}}
{{end}}
