{{define "title"}}
{{.Owner}}/{{.Name}} #{{.JobID}}
{{end}}

{{define "body"}}
<div class="container">

  <nav class="navbar">
    <div class="navbar-left">
      <div class="navbar-item">
        <a href="/deployment" class="button is-outlined">Back to list</a>
      </div>
    </div>
  </nav>

  <nav class="panel">
    <p class="panel-heading">
      <a href="{{.HTTPURL}}">{{.Owner}}/{{.Name}}</a> <span class="octicon octicon-arrow-small-right"></span> <span class="tag is-info">{{.Env}}</span>
    </p>
    <div class="panel-block">
      <div class="message is-{{.PanelColor}}">
        <div class="message-header">
          {{.Status}}
        </div>
        <div class="message-body">
          <i class="octicon {{.Icon}}"></i> Deploy <strong>{{.Status}}</strong> on <span class="octicon octicon-git-branch"></span> {{.Ref}}
          {{if eq .Status "pending"}}
            <a class="button is-small is-danger pull-right" href="/deployment/{{.ID}}/cancel">Cancel</a>
          {{end}}
        </div>
      </div>
      <nav class="navbar">
        <div class="navbar-item is-text-centered">
          <p class="heading">Started</p>
          <p class="title" title="{{.Started}}">{{.Started|ago}}</p>
        </div>
        <div class="navbar-item is-text-centered">
          <p class="heading">Finished</p>
          <p class="title" title="{{.Finished}}">{{.Finished|ago}}</p>
        </div>
        <div class="navbar-item is-text-centered">
          <p class="heading">Duration</p>
          <p class="title">{{.Duration}}</p>
        </div>
        <div class="navbar-item is-text-centered">
          <p class="heading">SHA</p>
          <p class="title"><a href="{{.HTTPURL}}/commit/{{.SHA}}">{{.ShortSHA}}</a></p>
        </div>
      </nav>
      <div class="console" id="logs"></div>
      <div id="bottom"></div>
    </div>
  </nav>

</div>

<script src="/public/app.js"></script>
<script type="text/javascript">
  var logs = document.getElementById("logs");
  {{if eq .Status "pending"}}
  var evtSource = new EventSource("/deployment/{{.ID}}/stream")
  var bottom = document.getElementById("bottom")
  var converter = new Filter({stream: true, newline: false});
  evtSource.onmessage = function(e) {
    logs.innerHTML += converter.toHtml(e.data);
    bottom.scrollIntoView();
  }
  {{else}}
  var converter = new Filter({stream: false, newline: false});
  window.fetch("/deployment/{{.ID}}/logs")
    .then(function(response) {
      return response.text();
    })
    .then(function(text) {
      logs.innerHTML = converter.toHtml(text);
    });
  {{end}}
</script>
{{end}}
