{{define "title"}}
{{.Owner}}/{{.Name}} #{{.JobID}}
{{end}}

{{define "body"}}
<div class="ui container">

  <div>
    <a href="/deployment" class="ui teal basic button">Back to list</a>
  </div>

  <div class="ui tall stacked segment">
    <div class="ui top attached label">
      <span class="lettrine" style="background-color: rgb({{.FullName|color}})">
        {{.Name|lettrine}}
      </span>
      <a href="{{.HTTPURL}}">{{.Owner}}/{{.Name}}</a>
      <span class="octicon octicon-arrow-small-right"></span>
      <span class="ui label env" style="background-color: rgb({{.Env|color}})">{{.Env}}</span>
    </div>
    <div class="ui {{.PanelColor}} segment">
      <p>
        <i class="icon {{.Icon}}"></i> Deploy <strong>{{.Status}}</strong> on <span class="octicon octicon-git-branch"></span> {{.Ref}}
        {{if eq .Status "pending"}}
          <a class="mini ui right floated button negative" href="/deployment/{{.ID}}/cancel">Cancel</a>
        {{end}}
      </p>
    </div>
    <div class="ui four tiny statistics">
      <div class="statistic">
        <div class="value">
          <time title="{{.Started.Format "Mon, 02 Jan 2006 15:04:05 MST"}}" datetime="{{.Started.Format "2006-01-02T15:04:05Z07:00"}}">{{.Started|ago}}</time>
        </div>
        <div class="label">
          Started
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <time title="{{.Finished.Format "Mon, 02 Jan 2006 15:04:05 MST"}}" datetime="{{.Finished.Format "2006-01-02T15:04:05Z07:00"}}">{{.Finished|ago}}</time>
        </div>
        <div class="label">
          Finished
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          {{.Duration}}
        </div>
        <div class="label">
          Duration
        </div>
      </div>
      <div class="statistic">
        <div class="value">
          <a href="{{.HTTPURL}}/commit/{{.SHA}}">{{.ShortSHA}}</a>
        </div>
        <div class="label">
          SHA
        </div>
      </div>
    </div>
    <div class="console ui inverted segment" id="logs"></div>
    <div id="bottom"></div>
    {{if .Commits}}
    <h4 class="ui dividing header">Commits</h4>
    <div class="ui stacked segments">
      {{range $index, $commit := .Commits}}
      <div class="ui segment">
        <a class="ui image label" href="{{$commit.Author.HTTPURL}}">
          <img src="{{$commit.Author.AvatarURL}}">
          {{$commit.Author.Login}}
        </a>
        <strong><a href="{{$commit.HTTPURL}}">{{$commit.ShortSHA}}</a></strong> {{$commit.Message}}
      </div>
      {{end}}
    </div>
    {{end}}
    {{if .Files}}
    <h4 class="ui dividing header">Files</h4>
    <div class="ui grid">
      {{range $index, $file := .Files}}
      <div class="four wide column filename">
        <span title="{{$file.Filename}}"><i class="{{$file.Icon}} icon"></i> {{$file.Filename}}</span>
      </div>
      {{end}}
    </div>
    {{end}}
  </div>

</div>

<script src="/public/app.js"></script>
<script type="text/javascript">
  var logs = document.getElementById("logs");
  {{if eq .Status "pending"}}
  var evtSource = new EventSource("/deployment/{{.ID}}/stream", { withCredentials: true })
  var bottom = document.getElementById("bottom")
  var converter = new Filter({stream: true, newline: false});
  evtSource.onmessage = function(e) {
    logs.innerHTML += converter.toHtml(escapeHTML(e.data));
    bottom.scrollIntoView();
  }
  {{else}}
  var converter = new Filter({stream: false, newline: false});
  window.fetch("/deployment/{{.ID}}/logs", { credentials: "include" })
    .then(function(response) {
      return response.text();
    })
    .then(function(text) {
      logs.innerHTML = converter.toHtml(escapeHTML(text));
    });
  {{end}}
</script>
{{end}}
