{{define "title"}}
Deployments
{{end}}

{{define "body"}}
<div class="ui container">

  <h2 class="ui dividing header">Deployments</h2>
  <div class="ui items">
    {{range $index, $deployment := .}}
    <div class="item">
      <div class="ui mini image">
        <span class="lettrine" style="background-color: rgb({{$deployment.FullName|color}})">
          {{$deployment.Name|lettrine}}
        </span>
      </div>
      <div class="content">
        <div class="header">
          <i class="{{$deployment.PanelColor}} {{$deployment.Icon}} icon"></i> <strong>{{$deployment.Ref}}</strong>
          <span class="octicon octicon-arrow-small-right"></span>
          <span class="ui label env" style="background-color: rgb({{$deployment.Env|color}})">{{$deployment.Env}}</span>
          {{if $deployment.User.Login}}
            by <a class="ui image label" href="{{$deployment.User.HTTPURL}}">
              <img src="{{$deployment.User.AvatarURL}}">
              {{$deployment.User.Login}}
            </a>
          {{end}}
        </div>
        <div class="meta">
          <a href="{{$deployment.HTTPURL}}">{{$deployment.Owner}}/{{$deployment.Name}}</a> <span class="octicon octicon-squirrel"></span> <a href="/deployment/{{$deployment.ID}}">{{$deployment.JobID}}</a>
          <span class="octicon octicon-clock"></span>
          <time title="{{$deployment.Started.Format "Mon, 02 Jan 2006 15:04:05 MST"}}" datetime="{{$deployment.Started.Format "2006-01-02T15:04:05Z07:00"}}">{{$deployment.Started|ago}}</time>
        </div>
      </div>
    </div>
    {{end}}
  </div>
</div>
{{end}}
