body {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.console {
  color: rgb(250, 250, 250);
  white-space: pre;
  font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
  overflow-x: auto;
}

.lettrine {
  color: white;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  line-height: 35px;
  height: 35px;
  width: 35px;
  font-size: 18px;
}

.label.env {
  color: white;
  vertical-align: middle;
}

.ui.top.attached.label:first-child + :not(.attached) {
    margin-top: 4rem !important;
}

.filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
